:root {
    --light: #fdf8f3;
    --light-08: rgba(253, 248, 243, 0.8);
}

* {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: max-content 1fr max-content;
    font-family: Ubuntu, sans-serif;
    cursor: default;
}

header {
    grid-area: header;
    z-index: 9;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    z-index: 9;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 1025px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 769px) {
}

@media screen and (min-width: 426px) and (max-width: 768px) {
}

@media screen and (max-width: 425px) {
}
