.card {
    container-type: inline-size;
    container-name: card;
}

.header {
    position: relative;
    display: grid;
    aspect-ratio: 1 / 5;
    grid-template-areas: 'content';
    overflow: hidden;

    & > * {
        display: grid;
        width: 100%;
        height: 100%;
        grid-area: content;
        overflow: hidden;
    }
}

.header_overlay {
    position: relative;
    display: grid;
    grid-template-areas: 'name tag';
    grid-template-columns: 18em max-content;
    justify-content: space-between;
    align-items: center;
    align-content: end;
    gap: 0.25em;
    color: #fff;
    font-size: min(3.5vw, 20px);
    line-height: 1;
    padding: 0.5em 1em;
    z-index: 1;

    &:has(.breed) {
        grid-template-areas: 'name tag' 'breed tag';
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0;
        background-color: #000;
        box-shadow: 0 0 4em 4em rgba(0, 0, 0, 0.6);
        z-index: -1;
    }
}

.name {
    grid-area: name;
    font-size: 1.5em;
    font-weight: 700;
}

.breed {
    grid-area: breed;
    opacity: 0.8;
}

.tag {
    --line-width: 0.1em;

    width: max-content;
    height: max-content;
    grid-area: tag;
    font-size: 1em;
    line-height: 1;
    border-radius: 5rem;
    padding: 0.4em 0.75em;

    &.lost {
        animation: lostAnim 0.75s linear infinite alternate-reverse;
    }
}

.image {
    object-fit: cover;
    object-position: center;

    &.placeholder {
        object-fit: contain;
        padding: 1rem;
        opacity: 0.4;
        filter: drop-shadow(0.1em 0.2em 0.3em #000);
    }
}

.card_body {
    display: grid;
    grid-template-areas: 'about_pet';
    grid-template-rows: 1fr;
    gap: 2rem;

    &:has(.about_owner) {
        grid-template-areas: 'about_pet' 'about_owner';
    }
}

.about_pet {
    grid-area: about_pet;
}

.info_card_wrapper {
    display: grid;
    gap: 1rem;
    margin-top: 1.5rem;
}

.info_card {
    display: grid;
    gap: 0.5rem;
}

.info_card_headline {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 0.5em;
    font-size: 1.1em;
    font-weight: 500;
    line-height: 1;
}

.about_owner {
    grid-area: about_owner;
}

.user_info {
    display: grid;
    gap: 0.75rem;
}

@container card (width > 750px) {
    .card_body {
        grid-template-areas: 'about_pet';
        grid-template-columns: 0.6fr 0.4fr;

        &:has(.about_owner) {
            grid-template-areas: 'about_pet about_owner';
        }
    }
}

@container card (width > 500px) {
    .header_overlay {
        padding: 1rem;
    }

    .info_card_wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}

@keyframes lostAnim {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.5;
    }
}
