.header {
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--cyan-2);
}

.header_inner {
    display: grid;
    align-items: center;
    gap: 0 1rem;
}

.logo {
    grid-area: logo;
}

.menu_wrapper {
    grid-area: menu_wrapper;
}

.menu_inner {
    display: grid;
    grid-template-areas: 'nav';
    gap: 1rem;

    &:has(.sign_in_btn, .profile_btn) {
        grid-template-areas: 'nav' 'sign_in_btn';
    }
}

.nav_bar {
    display: grid;
    grid-area: nav;
}

.nav_link {
    color: var(--color-text-heading);
    padding: 0.5em 1em;
    transition:
        color 0.5s,
        background-color 0.5s;

    &:hover {
        color: var(--cyan);
    }

    &.active {
        color: var(--orange);
    }
}

.sign_in_btn,
.profile_btn {
    grid-area: sign_in_btn;
}

.sign_in_btn:not(.sign_in_btn_mobile) {
    border-radius: 5em;
}

.sign_in_btn.sign_in_btn_mobile {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    padding-block: 0.75em;
    height: auto;
}

.profile_btn_mobile {
    grid-area: profile_mobile;
}

.menu_icon {
    grid-area: menu_icon;
    font-size: 1.25rem;
}

@media screen and (min-width: 801px) {
    .header_inner {
        grid-template-areas: 'logo nav';
        grid-template-columns: max-content 1fr;

        &:has(.sign_in_btn, .profile_btn) {
            grid-template-areas: 'logo nav sign_in_btn';
            grid-template-columns: max-content 1fr max-content;
        }
    }

    .menu_wrapper,
    .menu_inner {
        display: contents;
    }

    .nav_bar {
        grid-auto-flow: column;
        justify-content: end;
        align-items: center;
    }

    .menu_icon,
    .profile_btn_mobile {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .header_inner {
        grid-template-areas: 'logo . menu_icon';
        grid-template-columns: max-content 1fr max-content;
    }

    .nav_bar {
        grid-auto-flow: row;
        gap: 0.5em;
        margin-top: 1rem;
    }

    .nav_link {
        border-radius: 0.5em;
        padding-inline: 1em;

        &.active {
            background-color: rgba(212, 133, 74, 0.1);
        }
    }
}
