.inner_section {
    display: grid;
    justify-items: center;
    gap: 0.5rem;
    text-align: center;
}

.sup_headline {
    color: var(--orange);
    font-weight: 500;
    text-transform: uppercase;
}

.list {
    margin-top: 3rem;
}

.card {
    display: grid;
    gap: 0.75rem;
    text-align: left;
}

.icon {
    display: grid;
    width: 3rem;
    height: 3rem;
    justify-items: center;
    align-items: center;
    color: var(--cyan);
    font-size: 2rem;
    border-radius: 0.75rem;
}

.about {
    font-size: 0.9rem;
}
