@font-face {
    font-family: Ubuntu;
    src: url(src/fonts/Ubuntu-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url(src/fonts/Ubuntu-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: url(src/fonts/Ubuntu-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url(src/fonts/Ubuntu-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: url(src/fonts/Ubuntu-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url(src/fonts/Ubuntu-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: url(src/fonts/Ubuntu-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url(src/fonts/Ubuntu-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

:root {
    --color-cyan-green-50: #f3f7f6;
    --color-cyan-green-100: #e3edea;
    --color-cyan-green-200: #cbddd8;
    --color-cyan-green-300: #afcbc3;
    --color-cyan-green-400: #96bbb1;
    --color-cyan-green-500: #7ba99d;
    --color-cyan-green-600: #5d8e81;
    --color-cyan-green-700: #44695f;
    --color-cyan-green-800: #2e4741;
    --color-cyan-green-900: #16221f;
    --color-cyan-green-950: #0c1311;

    --color-terracotta-50: #faf1ea;
    --color-terracotta-100: #f5e0d1;
    --color-terracotta-200: #ebc2a3;
    --color-terracotta-300: #e1a375;
    --color-terracotta-400: #d7874b;
    --color-terracotta-500: #bf6a2a;
    --color-terracotta-600: #9b5622;
    --color-terracotta-700: #713f19;
    --color-terracotta-800: #4b2a11;
    --color-terracotta-900: #261508;
    --color-terracotta-950: #150c05;

    --color-grey-50: #f2f2f2;
    --color-grey-100: #e6e6e6;
    --color-grey-200: #c9c9c9;
    --color-grey-300: #b0b0b0;
    --color-grey-400: #969696;
    --color-grey-500: #7c7c7c;
    --color-grey-600: #636363;
    --color-grey-700: #4a4a4a;
    --color-grey-800: #303030;
    --color-grey-900: #1a1a1a;
    --color-grey-950: #0d0d0d;

    --light: #fdf8f3;
    --light-08: rgba(253, 248, 243, 0.8);
}

* {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-areas: 'header' 'main' 'footer';
    grid-template-rows: max-content 1fr max-content;
    color: var(--color-grey-500);
    font-family: Ubuntu, sans-serif;
    line-height: 1.5;
    cursor: default;
}

header {
    grid-area: header;
    z-index: 9;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    z-index: 9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-grey-800);
    line-height: 1;
}

button {
    background-color: transparent;
    border: none;
}

@media screen and (min-width: 1025px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}

@media screen and (min-width: 769px) {
    h1 {
        font-size: 3.25rem;
    }
    h2 {
        font-size: 2.85rem;
    }
    h3 {
        font-size: 2.45rem;
    }
    h4 {
        font-size: 2.05rem;
    }
    h5 {
        font-size: 1.65rem;
    }
    h6 {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2.23rem;
    }
    h3 {
        font-size: 1.96rem;
    }
    h4 {
        font-size: 1.69rem;
    }
    h5 {
        font-size: 1.42rem;
    }
    h6 {
        font-size: 1.15rem;
    }
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.82rem;
    }
    h3 {
        font-size: 1.64rem;
    }
    h4 {
        font-size: 1.46rem;
    }
    h5 {
        font-size: 1.28rem;
    }
    h6 {
        font-size: 1.1rem;
    }
}
