.buttons {
    margin-top: 1rem;
    display: grid;
    gap: 0.5rem;
    grid-auto-flow: column;
}

@media screen and (min-width: 426px) {
    .buttons {
        grid-auto-columns: max-content;
        justify-content: end;
    }
}

@media screen and (max-width: 425px) {
    .headline {
        font-size: 0.8em;
    }
}
