.grid {
    --columns: 1;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 1rem;
}

@media screen and (min-width: 896px) {
    .grid.small {
        --columns: 4;
    }
    .grid.medium {
        --columns: 3;
    }
    .grid.large {
        --columns: 2;
    }
}

@media screen and (min-width: 769px) and (max-width: 896px) {
    .grid.small {
        --columns: 3;
    }
    .grid.medium {
        --columns: 2;
    }
    .grid.large {
        --columns: 1;
    }
}

@media screen and (min-width: 596px) and (max-width: 768px) {
    .grid.small {
        --columns: 3;
    }
    .grid.medium {
        --columns: 2;
    }
    .grid.large {
        --columns: 1;
    }
}

@media screen and (max-width: 595px) {
    .grid.small {
        --columns: 2;
    }
    .grid.medium {
        --columns: 1;
    }
    .grid.large {
        --columns: 1;
    }
}
