.header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.empty_img {
    position: relative;
    width: min-content;
    height: 100%;
    margin: auto;
}

.cat_hand {
    position: absolute;
    top: 7rem;
    left: 5.9rem;
    width: 5.8rem;
    height: min-content !important;
    object-fit: contain;
    transform-origin: 20% 35%;
    transition: transform 0.5s;
    z-index: -1;
}

@media screen and (max-width: 425px) {
    .headline {
        font-size: 0.8em;
    }
}
