.container {
    position: relative;
    display: grid;
    align-content: start;

    &.section {
        padding-block: 3rem;
    }
}

.container_inner {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 425px) {
    .container {
        &.section {
            padding-block: 1.5rem;
        }
    }
}
