.container {
    &.section {
        padding-block: 3rem;
    }

    &.colored {
        background-color: var(--light);
    }
}

.container_inner {
    max-width: 1200px;
    margin: auto;
    padding: 0.5rem 1rem;
}
